<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient bearbeiten</title>
    <link rel="stylesheet" href="{{url_for('static', filename='andern.css')}}">
</head>
<body>
    <header class="header-buttons">
        <a href="/main">
            <img src="{{ url_for('static', filename='Screenshot 2024-12-02 221055.png') }}" alt="Logo" class="logo">
        </a>
        <nav>
            <a href="/patiensuche">Patienten Übersicht</a>
            <a href="/patienthinzu">Patient hinzufügen</a>
            <a href="/Medikamentesuchen">Medikamente suchen</a>
            <a href="/impressum">Impressum</a>
        </nav>
    </header>
   
    <h1>Patient bearbeiten</h1>


    <hr>

    {% if selected_patient %}
    <div style="display: flex; gap: 20px; justify-content: center;">
        <!-- Linkes Formular: Patienteninformationen -->
        <div style="flex: 1;">
            <form method="POST" action="/andern">
                <input type="hidden" name="id" value="{{ selected_patient['id'] }}">
                
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ selected_patient['name'] }}">
                
                <label for="age">Alter:</label>
                <input type="number" id="age" name="age" value="{{ selected_patient['age'] }}">
                
                <label for="email">E-Mail:</label>
                <input type="email" id="email" name="email" value="{{ selected_patient['email'] }}">
                
                <label for="address">Adresse:</label>
                <input type="text" id="address" name="address" value="{{ selected_patient['address'] }}">
                               
                <label for="symptome">Symptome:</label>
                <textarea id="symptome" name="symptome" rows="5">{{ selected_patient['symptome'] }}</textarea>
                
                <label for="medikamente">Medikamente:</label>
                <textarea id="medikamente" name="medikamente" rows="5">{{ selected_patient['medikamente'] }}</textarea>

                <label for="telefonnummer">Telefonnummer</label>
                <textarea  id="telefonnummer" name="telefonnummer" rows="5">{{selected_patient['telefonnummer']}}</textarea>
                
                <button type="submit" name="action" value="update">Speichern</button>
            </form>
        </div>

        <!-- SMS-Konfiguration Button -->
        <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
            <a href="/sms?patient_id={{ selected_patient['id'] }}" style="text-decoration: none;">
                <button style="padding: 10px 20px; background-color: #96B1BF; color: white; font-size: 16px; border: none; border-radius: 4px; cursor: pointer;">
                    SMS-Konfiguration
                </button>
            </a>
        </div>
    </div>
    {% endif %}
</body>
</html>
