<!DOCTYPE html>
    <html lang="de">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Impressum</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='impresssum.css')}}">
        </head>
<body>
    <header class="header-buttons">
        <a href="/main">
            <img src="{{ url_for('static', filename='Screenshot 2024-12-02 221055.png') }}" alt="Logo" class="logo">
        </a>
        <nav>
            <a href="/patiensuche">Patienten Übersicht</a>
            <a href="/patienthinzu">Patient hinzufügen</a>
            <a href="/Medikamentesuchen">Medikamente suchen</a>
            <a href="/impressum">Impressum</a>
        </nav>
    </header>
<div class="container-impressum">
    <h1>Impressum</h1>
    <br>
    
    <h2>Verantwortlich für den Inhalt dieser Webseite</h2>
    <p>
        Kamila Habalova, Rebeka Masarova, Edvins Salikovs, Jovan Seljakovic
    </p>
    
    <h2>Adresse</h2>
    <p>
        Spengergasse 20<br>
        1050 Wien
    </p>
    
    <h2>Kontakt</h2>
    <p>
        <a href="mailto:hab210476@spengergasse.at">hab210476@spengergasse.at</a>,<br>
        <a href="mailto:mas210486@spengergasse.at">mas210486@spengergasse.at</a>,<br>
        <a href="mailto:sal210483@spengergasse.at">sal210483@spengergasse.at</a>,<br>
        <a href="mailto:sel210483@spengergasse.at">sel210483@spengergasse.at</a><br>
        Telefon: 0667 12345678
    </p>

    <h2>Vertretungsberechtigt</h2>
    <p>
        Kamila Habalova, Rebeka Masarova,<br> 
        Edvins Salikovs, Jovan Seljakovic
    </p>

    <h2>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV</h2>
    <p>
        Kamila Habalova, Rebeka Masarova, Edvins Salikovs, Jovan Seljakovic
    </p>

    <h2>Haftungshinweis</h2>
    <p>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
        Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>

    <h2>Urheberrechtshinweis</h2>
    <p>
        Die durch die Seitenbetreibers erstellten Inhalte und Werke
    </p>
</div>

</body>
</html>

