<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

<br>
<div class="container" id="container-login">
    <h1>Log In</h1>
    <form action="{{ url_for('login') }}" method="POST">    
        {% if mesage %}
            <div class="alert alert-warning">{{ mesage }}</div>
        {% endif %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" placeholder="Enter E-mail">
        </div>
        <br>
        <div class="form-group">
            <label for="password">Passwort:</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Einloggen</button>
        <br>
        <label>Kein Account?</label>
        <br>
        <a href="/register">Regestrieren</a>
    </form>
</div>
</body>
</html>
