<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> <!-- CSS-Datei wird hier eingebunden -->
</head>
<body>
    <header class="header-buttons">
        <a href="/main">
            <img src="{{ url_for('static', filename='Screenshot 2024-12-02 221055.png') }}" alt="Logo" class="logo">
        </a>
        <nav>
            <a href="/patiensuche">Patienten Übersicht</a>
            <a href="/patienthinzu">Patient hinzufügen</a>
            <a href="/Medikamentesuchen">Medikamente suchen</a>
            <a href="/impressum">Impressum</a>
        </nav>
    </header>

    <main>
        <div class="background-container">

            <div class="content-box">
                <img src="{{ url_for('static', filename='Screenshot 2024-12-02 230848.png') }}" alt="Logo" class="logo">
                <h1>Medify – Damit Ihre Patienten nie wieder eine Dosis vergessen!</h1>
            </div>
            <section class="description">

                <h2>Was ist Medify?</h2>
                <p>
                    Medify ist eine digitale Plattform, die Ärzten hilft, die Medikamenteneinnahme ihrer Patienten zu unterstützen.
                    Mit Medify können Ärzte Erinnerungsnachrichten direkt an ihre Patienten senden, damit diese ihre Medikamente
                    pünktlich einnehmen. Die Anwendung bietet eine einfache Möglichkeit:
                </p>
                <ul>
                    <li>die Kommunikation zwischen Arzt und Patient zu stärken</li>
                    <li>die Therapietreue zu verbessern</li>
                </ul>
                <p>
                    So sorgt Medify dafür, dass Patienten ihre Medikation nicht aus den Augen verlieren und die Behandlung optimal verläuft.
                </p>
            </section>
        </div>
    </main>
</body>
</html>
