<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS-Konfiguration</title>
    <link rel="stylesheet" href="{{url_for('static', filename='sms.css')}}">
</head>
<body>
    <header class="header-buttons">
        <a href="/main">
            <img src="{{ url_for('static', filename='Screenshot 2024-12-02 221055.png') }}" alt="Logo" class="logo">
        </a>
        <nav>
            <a href="/patiensuche">Patienten Übersicht</a>
            <a href="/patienthinzu">Patient hinzufügen</a>
            <a href="/Medikamentesuchen">Medikamente suchen</a>
            <a href="/impressum">Impressum</a>
        </nav>
    </header>

    <h1>SMS-Konfiguration</h1>

    <form method="POST" action="/sms" id="smsForm">
        <input type="hidden" name="patient_id" value="{{ request.args.get('patient_id') }}">
        <input type="hidden" name="telefonnummer" value="{{ request.args.get('telefonnummer') }}">
        <label for="medikament">Medikament:</label>
        <input type="text" id="medikament" name="medikament" placeholder="Medikament eingeben">

        <div id="smsScheduleContainer">
            <div class="sms-schedule">
                <label for="sms_date_1">SMS-Datum:</label>
                <input type="date" id="sms_date_1" name="sms_dates[]" required>

                <label for="sms_time_1">SMS-Uhrzeit:</label>
                <input type="time" id="sms_time_1" name="sms_times[]" required>

                
            </div>
        </div>

        <button type="button" id="addScheduleButton"> Weitere Zeit hinzufügen</button>
        
        <button type="submit" class="submit-button">Speichern</button>
    </form>

    <script>
        document.getElementById('addScheduleButton').addEventListener('click', function () {
            const container = document.getElementById('smsScheduleContainer');

            const newSchedule = document.createElement('div');
            newSchedule.classList.add('sms-schedule');

            newSchedule.innerHTML = `
                <label>SMS-Datum:</label>
                <input type="date" name="sms_dates[]" required>
                <label>SMS-Uhrzeit:</label>
                <input type="time" name="sms_times[]" required>
            `;

            container.appendChild(newSchedule);
        });
    </script>
</body>
</html>
