/* style.css */

/* Allgemeine Stile */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/path/to/background-image.png'); /* Passe den Pfad an */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #333;
    background-image: url('/static/background-image.png'); /* Passe den Dateinamen an */

}

.header-buttons {
    background-color: #96B1BF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    height: 60px;
    margin-left: 20px;
    cursor: pointer;
}

nav {
    display: flex;
    margin-right: 20px;
    gap: 35px;
}

nav a {
    font-size: 18px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

nav a:hover {
    text-decoration: none;
}

/* Hintergrund und Box */
.background-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 80px; /* Wegen der fixierten Header-Leiste */
}

.content-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.content-box img.medify-logo {
    height: 80px;
    margin-bottom: 10px;
}

.content-box h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

/* Beschreibung */
.description {
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.description h2 {
    font-size: 22px;
    color: #333;
}

.description p {
    font-size: 16px;
    line-height: 1.5;
}

.description ul {
    margin: 10px 0;
    padding-left: 20px;
}

.description ul li {
    margin-bottom: 10px;
}
